<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
	<% include ../partials/head %>

	<style>
 	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius:8px;
 	
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:8px;
  padding:4px;
  background-image: url("img_tree.gif"), url("paper.gif");
}


</style>
</head>
<body id="adminlogin">

	<header>
		<% include ../partials/adminHeader%>
	</header>


	<div class="container font" style="margin-top: 1%;">
		<div class="row">
			<div class="col-md-5 cal-md-offset-2" style="color:white">
				<h1><strong>Enter Lost Person's descritions</strong></h1>
				<div class="container" style="margin-left:-30px;">
															    
							   
 								<form action="/admindashboard/upload"  id="picUploader" method="POST" enctype="multipart/form-data">

							        <label class="font">Image</label>
							        <%= typeof msg != 'undefined' ? msg : '' %>
							        <input class="btn " name="myImage" type="file">
							        <input class="btn" name="myImage2" type="file">
							        <input class="btn" name="myImage3" type="file">
							        <button class="Submitbutton">Add To Form</button>
							        <br>
							      	
							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute;margin-left:20px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%= typeof file1 != 'undefined' ? file1 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute;margin-left:170px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%= typeof file2 != 'undefined' ? file2 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute;margin-left:320px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%= typeof file3 != 'undefined' ? file3 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							    </form>
    
							    </div> 
				
							    <br><br>
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active" style="margin-top:130px;color: white;">

						<% if(typeof errors !== 'undefined'){ %>
						<div class="alert alert-danger">
							<% for(var i = 0; i < errors.length; i++){ %>
							<p>*<%= errors[i].message %></p>
							<% } %>
						</div>
						<% } %>


						<form method="post" action="/admindashboard/addproduct">
							<div class="form-group font">
								<label for="productname"  class="font">Person's Name:</label>
								<input type="text" required placeholder="Missing Person's Name" class="form-control font" id="productname" name="productname">
							</div>
							
							<div class="form-group font">
								<label for="price" class="font">Age:</label>
								<input type="text"placeholder="Age" class="form-control font" id="age" name="age">
							</div>
							
							<div class="form-group">
										<label for="quantity" class="font">Image:</label>
										<input type="text" value="<%= typeof file1 != 'undefined' ? file1 : '' %>"  class="form-control font" placeholder="Link 1" id="Image1" name="Image1" style="width:140px">
										<input type="text" value="<%= typeof file2 != 'undefined' ? file2 : '' %>"  class="form-control font" placeholder="Link 2" id="Image2" name="Image2" style="width:140px;margin-left:157px;margin-top: -34px">
										<input type="text" value="<%= typeof file3 != 'undefined' ? file3 : '' %>"  class="form-control font" placeholder="Link 3" id="Image3" name="Image3" style="width:140px;margin-left:316px;margin-top: -34px";>
									</div>

							
							<div class="form-group">
								<label for="catagory" class="font">Last_located:</label>
								<input type="text" placeholder="Last Seen / Current Locatation" required class="form-control font" id="last_located" name="last_located">
							</div>
							<a href="javascript:void(0);" type="button" class="button" style="margin-left:357px; margin-top:-49px;width:100px;height:34px;"
											 NAME="My Window Name"  title=" My title here "
											 onClick=window.open("https://maps.google.com","Ratting","width=900,height=470,0,status=0,");>Maps</a>

							<div class="form-group">
								<label for="origin" class="font">Origin:</label>
								<input type="text" placeholder="Hometown" class="form-control font" id="origin" name="origin">
							</div>

							<div class="form-group">
								<label for="category" class="font">Category:</label>
								<select style="height: 35px ;color: grey;" id="category" name="category" >
									<option value="lost">Lost</option>
									<option value="found">Found</option>
								</select>
							</div>

							<div class="form-group">
								<label for="agent_name" class="font">Agent Name:</label>
								<input type="text" placeholder="Agent Name / Alias Name" required class="form-control font" id="agent_name" name="agent_name">
							</div>

							<div class="form-group">
								<label for="details" class="font">Contact:</label>
								<input type="text" placeholder="Contact" required class="form-control font" id="" name="details">
							</div>

							<div class="form-group">
								<label for="promotion" class="font">Promotion:</label>
								<select style="height: 35px ;color: grey;" id="promotion" name="promotion" >
									<option value="0">None</option>
									<option value="1">80/- BDT</option>
									<option value="2">240/- BDT</option>
								</select>
							</div>

							<div class="form-group">
										<label for="reward" class="font">Reward:</label>
										<input type="number" placeholder="Optional" class="form-control font" id="reward" name="reward">
									</div>

							<!-- <input type="submit" class="btn btn-primary btn-lg font" value="Submit"> -->
							<button type="submit" class="btn btn-primary btn-lg font" style="width: 100%;" id="submit">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>