<!DOCTYPE html>
<html>
<head>
	<title>Edit Post</title>
	<% include ../partials/head %>

	<style>
 	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius:8px;
 	
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:8px;
  padding:4px;
  background-image: url("img_tree.gif"), url("paper.gif");
}


</style>

</head>
<body id="adminlogin">

	<header>
		<% include ../partials/adminHeader%>
	</header>

	<div class="container font" style="margin-top: 1%;">
		<div class="row">
			<div class="col-md-5 cal-md-offset-2" style="color: white">

				<h1><strong>Edit Post</strong></h1>
				<%for(var i=0;i<result.length;i++){%>
				<form action="/admindashboard/edit/<%=result[i].id%>" id="picUploader" method="POST" enctype="multipart/form-data">
									<label class="font">Image</label>
							        <%= typeof msg != 'undefined' ? msg : '' %>
							        <input  name="myImage" type="file">
							        <br>
							        <input  name="myImage2" type="file">
							        <br>
							        <input  name="myImage3" type="file">
							        <br>
							        <button class="Submitbutton">Add To Form</button>
							        <br>
							      	
							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute; margin-left:20px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%=result[i].image%>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	  <img src="<%= typeof file1 != 'undefined' ? file1 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute;margin-left:170px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%=result[i].image2%>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	  <img src="<%= typeof file2 != 'undefined' ? file2 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							      	<div class="polaroid" style="width: 140px; height:140px;position:absolute;margin-left:320px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:130px;height:130px">
							      	  <img src="<%=result[i].image3%>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	  <img src="<%= typeof file3 != 'undefined' ? file3 : '' %>" class="responsive-img" style="margin-top:-130px;width:130px;height:130px">
							      	</div>

							    </form> <br><br><br><br><br><br><br><br>
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">

						<% if(typeof errors !== 'undefined'){ %>
						<div class="alert alert-danger">
							<% for(var i = 0; i < errors.length; i++){ %>
							<p>*<%= errors[i].message %></p>
							<% } %>
						</div>
						<% } %>
						<form method="post" action="admindashboard/addproduct">
							
							<div class="form-group font">
								<label for="productname" class="font">Person's Name:</label>
								<input type="text" class="form-control font" id="productname" name="productname" value="<%=result[i].lost_name%>">
							</div>

							<div class="form-group font">
								<label for="price" class="font">Age:</label>
								<input type="text" class="form-control font" id="price" name="price" value="<%=result[i].age%>">
							</div>

							<div class="form-group">
										<label for="quantity" class="font">Image:</label>
										<input type="text" value="<%=result[i].image%>"  class="form-control font" id="quentity" name="quantity">
									</div>

							<div class="form-group">
								<label for="catagory" class="font">Last located:</label>
								<input type="text" class="form-control font" id="catagory" name="catagory" value="<%=result[i].catagory%>">
							</div>

							<div class="form-group">
								<label for="origin" class="font">Origin:</label>
								<input type="text" class="form-control font" id="origin" name="origin" value="<%=result[i].origin%>">
							</div>

							<div class="form-group">
								<label for="category" class="font">Category:</label>

								<select style="height: 35px ;color: grey;" id="category" name="category" >
									<option style="color: salmon;" value="<%=result[i].catagory%>">Current: <%=result[i].catagory%></option>
									<option value="lost">Lost</option>
									<option value="found">Found</option>
								</select>
							</div>

							<div class="form-group">
								<label for="agent_name" class="font">Agent Name:</label>
								<input type="text" class="form-control font" id="agent_name" name="agent_name" value="<%=result[i].agent_name%>">
							</div>

							<div class="form-group">
								<label for="details" class="font">Contact:</label>
								<input type="text" class="form-control font"  name="details" value="<%=result[i].contact%>">
							</div>

							<div class="form-group">
								<label for="promotion"  class="font">Promotion:</label>

								<select style="height: 35px ;color: grey;" id="promotion" name="promotion" >
									<option style="color: salmon;" value="<%=result[i].promotion%>">Current: <%=result[i].promotion%></option>
									<option value="lost">80/- BDT</option>
									<option value="found">240/- BDT</option>
								</select>
							</div>


							<%}%>
							<!-- <input type="submit" class="btn btn-primary btn-lg font" value="Submit"> -->
							<button type="submit" class="btn btn-primary btn-lg font" style="width: 100%" id="submit">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>