<!DOCTYPE html>
<html>
<head>
	<title>Promotions</title>
	<% include ../partials/head %>
	<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</head>
<body id="adminlogin">

	<header>
		<% include ../partials/adminHeader%>
	</header>

	<h1>Promotions</h1>
  <!-- <center><a href="/admindashboard/advancesearch" class="btn-primary" style="color: grey; " ><button> <h3>Search Post</h3></button></a></center><br><br> -->
  <a href="/admindashboard/advancesearch"><button class="btn btn-primary pull-left">Advance Search</button></a>

  <div class="panel">
  <table style="color: grey;">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Agent Name</th>
      <th>Catagory</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Option</th>
    </tr>
    <%for(var i=0;i<result?.length;i++){%>
    <tr>
      <td><%=result[i].lost_name%></td>
      <td><%=result[i].promotion%></td>
      <td><%=result[i].agent_name%></td>
      <td><%=result[i].catagory%></td>
      <td><%=result[i].contact%></td>
      <td><%=result[i].date%></td>
      <td><a href="/admindashboard/productedit/<%=result[i].id%>">Edit</a> <a href="/admindashboard/productdelete/<%=result[i].id%>">Delete</a></td>
    </tr>
    <%}%>
    
  </table>
  </div>

</body>	
</html>