<!DOCTYPE html>
<html>
<head>
	<title>Add Product </title>
	<% include ../partials/head %>

	<style>
 	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius:8px;
 	
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:8px;
  padding:4px;
  background-image: url("img_tree.gif"), url("paper.gif");
}

div.container {
  text-align: center;
  background-image: url("img_tree.gif"), url("paper.gif");

  
}

</style>
</head>
<body id="index">

	<header>
		<% include ../partials/header%>
	</header>

	<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
	
		<div class="row" style="margin-left:500px;">

			<div class="col-md-5 full-panel">
				<div class="panel panel-primary" style="width: 130%">
					<div class="panel-heading font" style="width: 100%; margin-top:-50px;">
						<h1><strong> <center>Edit Post</center></strong></h1>
						<%for(var i=0;i<result.length;i++){%>
						<center><form action="/user/edit/<%=result[i].id%>" id="picUploader" method="POST" enctype="multipart/form-data">
									<h1 ><strong>Enter Lost Person's descriptions</strong></h1>
							        <label class="font">Image</label>
							        <%= typeof msg != 'undefined' ? msg : '' %>
							        <input class="btn btn-primary" name="myImage" type="file">
							        <input class="btn btn-primary" name="myImage2" type="file">
							        <input class="btn btn-primary" name="myImage3" type="file">
							        <button class="Submitbutton">Add To Form</button>
							      	
							      	<div class="polaroid" style="width: 190px; height:190px;position:absolute">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:180px;height:180px">
							      	  <img src="<%=result[i].image%>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	  <img src="<%= typeof file1 != 'undefined' ? file1 : '' %>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	</div>

							      	<div class="polaroid" style="width: 190px; height:190px;position:absolute;margin-left:210px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:180px;height:180px">
							      	  <img src="<%=result[i].image2%>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	  <img src="<%= typeof file2 != 'undefined' ? file2 : '' %>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	</div>

							      	<div class="polaroid" style="width: 190px; height:190px;position:absolute;margin-left:420px;">
							      	  <img src ="https://i.imgur.com/S58Jnn6.jpg" style="width:180px;height:180px">
							      	  <img src="<%=result[i].image3%>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	  <img src="<%= typeof file3 != 'undefined' ? file3 : '' %>" class="responsive-img" style="margin-top:-180px;width:180px;height:180px">
							      	</div>

							    </form> </center>

							    <br><br><br><br><br><br><br><br><br><br><br>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">

								<% if(typeof errors !== 'undefined'){ %>
								<div class="alert alert-danger">
									<% for(var i = 0; i < errors.length; i++){ %>
									<p>*<%= errors[i].message %></p>
									<% } %>
								</div>
								<% } %>
								<form method="post" action="/user/productedit/<%=result[i].id%>">

									
									<div class="form-group font">
										<label for="productname" class="font">Person's Name:</label>
										<input type="text" required class="form-control font" id="productname" name="productname" value="<%=result[i].lost_name%>">
									</div>

									<div class="form-group font">
										<label for="price" class="font">Age:</label>
										<input type="text" class="form-control font" id="price" name="price" value="<%=result[i].age%>">
									</div>

									<div class="form-group">
										<label for="image" class="font">Image:</label>
										<% var img1 =typeof file1 != 'undefined' ? file1 : '' %>
										<% var img2 =typeof file2 != 'undefined' ? file2 : '' %>
										<% var img3 =typeof file3 != 'undefined' ? file3 : '' %>

										<%if(img1==undefined){img1=result[i].image}%>
										<%if(img2==undefined){img2=result[i].image2}%>
										<%if(img3==undefined){img3=result[i].image3}%>

										<%if(img1.length<1){img1=result[i].image}%>
										<%if(img2.length<1){img2=result[i].image2}%>
										<%if(img3.length<1){img3=result[i].image3}%>


										<input type="text" value="<%=img1%>"  class="form-control font" id="Image1" name="Image1" style="width:200px">
										<input type="text" value="<%=img2%>"  class="form-control font" id="Image2" name="Image2" style="width:200px;margin-left:210px;margin-top: -34px">

										<input type="text" value="<%=img3%>"  class="form-control font" id="Image3" name="Image3" style="width:200px;margin-left:420px;margin-top: -34px";>
									</div>

									<div class="form-group">
										<label for="catagory" class="font">Last_located:</label>
										<input type="text" required class="form-control font" id="catagory" name="catagory" value="<%=result[i].last_located%>">
									</div>

									<div class="form-group">
										<label for="origin" class="font">Hometown / Origin:</label>
										<input type="text" class="form-control font" id="origin" name="origin" value="<%=result[i].origin%>">
									</div>

									<div class="form-group">
										<label for="category" class="font">Category:</label>
										<!-- <input type="text" class="form-control font" id="category" name="category" value="<%=result[i].catagory%>"> -->
										<br>
										<select style="height: 35px ;color: grey;" id="category" name="category" >
											<option style="color: salmon;" value="<%=result[i].catagory%>">Current: <%=result[i].catagory%></option>
											<option value="lost">Lost</option>
											<option value="found">Found</option>
										</select>
									</div>

									<div class="form-group">
										<label for="agent_name" class="font">Agent Name:</label>
										<input type="text" required class="form-control font" id="agent_name" name="agent_name" value="<%=result[i].agent_name%>">
									</div>

									<div class="form-group">
										<label for="details" class="font">Contact:</label>
										<input type="text" required class="form-control font" id="contact" name="details" value="<%=result[i].contact%>"></textarea>
									</div>

									<div class="form-group">
										<label for="reward" class="font">Reward:</label>
										<input type="text" placeholder="Optional" value="<%=result[i].reward%>" class="form-control font" id="reward" name="reward">
									</div>


									<div class="form-group">
										<input type="hidden" class="form-control font" id="" name="promotion" value="<%=result[i].promotion%>"></textarea>
										<center><label><h4>Promotion: <%=result[i].promotion%><h4></label></center>
									</div>




									<%}%>

									

									<!-- <input type="submit" class="btn btn-primary btn-lg font" value="Submit"> -->
									<center><button type="submit" class="btn btn-primary btn-lg font" style="width: 30%;margin-top:30px;" id="submit">Update</button>
									</center>
								</form>
							
									<form action="/user/promotion/<%=result[0].id%>" method="post">
										<center><button type="submit" class="btn btn-primary btn-lg font" style="width: 30%;margin-top:-170px;" >Update Promotion</button></center>
									</form>
									</center>
							</div>
						</div>
					</div></div></div>
				</div>
			</div>
		</body>
		</html>