<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <% include ../partials/head %>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}


  /*TOP NAV*/

    

    
  </style>

</style>
</head>
<body id="index">

  <header>
    <% include ../partials/header%>
  </header>
  <!-- <div class="box" style="width: 200px;height:40px; margin:auto">
  <h1><strong> <center> My Posts</strong></center></h1>
  </div>

  <%if(result==0){%>
      <center><h1 style="color:#FA7A7A">You Currently Have No Posts.</h1></center>
      <%}%>

  
                      <div class="col-md-15 mainresult">        
                        <div id="wrap">
                        <div id="columns" class="columns_1" style="margin-left:-60px">
                            <%if(typeof result!=='undefined'){%>
                              <%for(var i=0;i<result.length;i++){%>

                                <div>
                                <figure style="width:1200px;height:183px">
                                
                                <div style="margin-left:160px">
                                  <h3><%=result[i].lost_name%></h3>
                                  <h4 style="color:#F54040"><%=result[i].catagory%></h4>
                                </div>
                                  <div align="center" style="margin-top:-60px;">
                                    <h4>Agent Name: <%=result[i].uname%></h4>
                                    <h4>Date: <%=result[i].date%></h4>

                                  </div>

                               
                              </figure>
                              </div>
                                            
                            <%}%>
                            <%}%>



                            <% if(typeof errorMessage !== 'undefined'){ %>
                                            <br><div class="whitebg" style="margin-left:-400px;position:absolute;"></div>
                                            <div >
                                            <br>
                                                <h1 class="text-center text-danger"><span class="glyphicon glyphicon-search text-center"></span><br><%= errorMessage.message %></h1>
                                            </div>
                                            <% } %>

                          </div></div></div> -->


<script>
  function goBack() {
    window.history.back();
  }
</script>
<strong><h1 class="btn-primary">History</h1></strong>  
  <div class="panel">
  <table style="color: grey;">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
    <%for(var i=0;i<result.length;i++){%>
    <tr>
      <td><%=result[i].lost_name%></td>
      <td><%=result[i].category%></td>
      <td><%=result[i].date%></td>
    </tr>
    <%}%>
    
  </table>
  </div>
  <button class="button btn-primary" onclick="goBack()">Back</button>


  
</body> 
</html>