<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <% include ../partials/head %>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}


  /*TOP NAV*/

    

    
  </style>

</style>
</head>
<body id="index">

  <header>
    <% include ../partials/header%>
  </header>
<!--   <div class="panel panel-primary">
    <a>
    </a>
  </div>
 -->
<div class="col-md-5 full-panel">
  <div class="panel panel-primary">
  <div class="panel-heading font"  style="width: 240%; margin-top: -51px;">
  <h1><strong> <center> My Posts</strong></center></h1>
  <table style="color: darkblue">
    <tr>
      <th>Name</th>
      <th>Agent Name / Alias Name</th>
      <th>Catagory</th>
      <th>Contact</th>
      <th>Promotion</th>
      <th>Date Posted</th>
      <th>Option</th>
    </tr>
    <%for(var i=0;i<result.length;i++){%>
    <tr>
      <td><strong><%=result[i].lost_name%></strong></td>
      <td><strong><%=result[i].agent_name%></strong></td>
      <td><strong><%=result[i].catagory%></strong></td>
      <td><strong><%=result[i].contact%></strong></td>
      <td><strong><%=result[i].promotion%></strong></td>
      <td><strong><%=result[i].date%></strong></td>
      <td><strong><a  href="/user/productedit/<%=result[i].id%>" style="color: salmon;" >Edit</a> <a href="/admindashboard/productdelete/<%=result[i].id%>" style="color: darkred;">Delete</a></td>
    </tr>
    <%}%>
    
  </table> </div></div></div>
  
</body> 
</html>