<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <% include ../partials/head %>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    display: block;
    margin-right: 40px;
  
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.list-item {
  width:1200px !important;
  height:200px !important;
  overflow: auto !important ;
  display: flex !important;
  justify-content: space-between !important;
  align-items: start !important;
  @media (max-width: 700px) {
    width: 450px !important;
    flex-direction: column !important;
    height: fit-content !important;
  }
}

.list-item-details {
  flex-direction: row;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
    
  </style>

</style>
</head>
<body id="index">

  <header>
    <% include ../partials/header%>
  </header>
  
  <div class="box" style="width: 200px;height:40px; margin:auto">
  <h4><strong> <center> My Posts</strong></center></h4>
  </div>

  <a class="Bbutton" style="width:100px;margin: auto; margin-top: 30px;" href="/user/history"><h4>History</h4></a>

  <%if(result==0){%>
      <center><h1 style="color:#FA7A7A">You Currently Have No Posts.</h1></center>
      <%}%>

  
                      <div class="col-md-15 mainresult">        
                        <div id="wrap">
                        <div id="columns" class="columns_1">
                            <%if(typeof result!=='undefined'){%>
                              <%for(var i=0;i<result?.length;i++){%>

                                <div>
                                <figure class="list-item">

                                  <div style="flex: 2;">
                                    <img src = "<%=result[i].image%>" style="height:165px; width: fit-content; max-width: 200px; flex: 2">
                                  </div>

                                <div style="display: flex; flex-direction: column; justify-content: start; align-items: start; flex: 3;">
                                  <h3><%=result[i].lost_name%></h3>
                                  <h4 style="color:#F54040"><%=result[i].catagory%></h4>
                                </div>

                                <div style=" display: flex; justify-content: space-between; align-items: start; flex: 10" class="list-item-details">

                                  <div align="start">
                                    <h4>Agent Name: <%=result[i].agent_name%></h4>
                                    <h4 style="font-size: 18px; white-space: pre-wrap; width: 30%;">Contact: <%=result[i].contact%></h4>
                                    <h4>Promotion: <%=result[i].promotion%></h4>
                                    <h4>Date: <%=result[i].date%></h4>
                                    
                                  </div>
                                  
                                  <div style="display: flex; flex-direction: row;">
                                    <a href="/user/productdelete/<%=result[i].id%>" style="width: 80px;" class="contentbutton glyphicon glyphicon-trash" type="submit"></a> 
                                    <a href="/user/resolve/<%=result[i].id%>" style="width: 80px;" class="button glyphicon glyphicon-ok" type="submit">Resolve</a>
                                    <a href="/user/productedit/<%=result[i].id%>" style="width: 80px;" class="button glyphicon glyphicon-edit" type="submit">Edit</a>
                                  </div>
                                </div>
                              </figure>
                              </div>
                                            
                            <%}%>
                            <%}%>



                            <% if(typeof errorMessage !== 'undefined'){ %>
                                            <br><div class="whitebg" style="margin-left:-400px;position:absolute;"></div>
                                            <div >
                                            <br>
                                                <h1 class="text-center text-danger"><span class="glyphicon glyphicon-search text-center"></span><br><%= errorMessage.message %></h1>
                                            </div>
                                            <% } %>

                          </div></div></div>


  
</body> 
</html>
<br>
	<br>
	<% include ../partials/footer %>
  