<!DOCTYPE html>
<html>

<head>
  <title>My Profile</title>
  <% include ../partials/profileheader %>
  
  <style>
  #details {

  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
  background-attachment: fixed; 
  background-size: cover;
  }

  body {font-family: Arial, Helvetica, sans-serif;}
  .contactmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .contactmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
</style>
</head>
</head>

<body id="details">

	<div class="container" style=" margin :auto;margin-top:30px;">
    <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
       
       <br>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
       
       <%for(var i=0;i<result.length;i++){%>
       <div class="panel panel-info">
        
        <div class="panel-heading">
          <h3 class="panel-title"><%=result[i].name%></h3>
        </div>

        <div class="panel-body">
          <div class="row">

            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%=result[i].image%>" class="img-circle img-responsive">
            </div>

            <span class="pull-right">
              <a href="/logout%>" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-log-out"></i> Logout</a> 
            </span>



            <br><br><br>
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>User Name:</td>
                        <td><%=result[i].username%></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%=result[i].email%></td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td><%=result[i].id%></td>
                      </tr>
                      
                      
                      <tr>
                        <td>Home Address</td>
                        <td><%=result[i].address%></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com"><%=result[i].email%></a></td>
                      </tr>
                      <td>Phone Number</td>
                      <td><%=result[i].phone%>
                      </td>
                      
                    </tr>
                    
                  </tbody>
                </table>
                



                
              </div>
            </div>
          </div>

          
          <div class="panel-footer">
            <a href="/user/productlist" class="btn btn-primary">My Posts </a>
            <a data-original-title="Delete Account" id="myContactBtn" data-toggle="tooltip" class="btn btn-primary glyphicon glyphicon-trash"></a>


            
            <!-- The Modal -->
        <div id="contactModal" class="contactmodal">

          <!-- Modal content -->
          <form method="post" action="/user/deleteAccount">
          <div class="contactmodal-content">
            <span style="color:darkred" class="close">&times;</span>
            <h2 style="color:#FA7A7A">Delete Account</h2>
            <h3 style="color:#A7A7A7">Are You Sure?</h3>
            <input type="hidden" name="accID" value="<%=result[i].id%>">
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
          </form>

        </div>

            <span class="pull-right">
              <a href="https://mail.google.com/" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
              
              <a data-original-title="Edit Profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" href="/user/useredit/<%=result[i].username%>"><i class="glyphicon glyphicon-edit"></i></a>

              <a data-original-title="Home" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" href="/index"><i class="glyphicon glyphicon-home"></i></a>
            </span>
          </div>

          
        </div>
        <%}%>
      </div>
    </div>
  </div>



  <script>
// Get the modal
var modal = document.getElementById('contactModal');

// Get the button that opens the modal
var btn = document.getElementById("myContactBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == contactModal) {
    document.getElementById('contactModal').style.display = "none";
  }
  }

</script>


</body>	
</html>