 <!DOCTYPE html>
 <html>
 <head>
 	<title>Nikhoj</title>
 	<% include ../partials/head %>
	<meta property="og:title" content="Nikhoj" />
<meta property="og:description" content="A system to find lost and found people" />
<meta property="og:image" content="https://scontent.fdac27-2.fna.fbcdn.net/v/t39.30808-6/464778529_10160282970801766_3668953577652762252_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=Fib09vJ4WZ8Q7kNvgFciws5&_nc_zt=23&_nc_ht=scontent.fdac27-2.fna&_nc_gid=AGI1bQT2hqop8pqrUCJXAOi&oh=00_AYCXPLA3CjmlgwMLCEtD1qrjyGs7alhz3ViwWU44vDOJsA&oe=6734057E" />
<meta property="og:url" content="http://nikhoj.onrender.com/" />


 	<style>
		html {
			position: relative;
		}
		
 	div#columns figure img {
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 156px;
    height: max-content;
    max-height: 256px;
 	
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}




/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
	height: 45px;
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.whitebg{
	background: #fff;  
	display:block;
	transition:all 1s linear;
	z-index:-1;
	width:auto;
	height:auto;
	@media screen and (max-width: 700px) {
		background: none;	
	} 
    }



 	/*TOP NAV*/
 	.topnav {
 		overflow: hidden;
 		background-color: #333;
 		width: 390px;
 		height: 55px;
 		margin: auto;
        margin-bottom: 20px;
 	}

 	.topnav a {
 		float: left;
 		color: #f2f2f2;
 		text-align: center;
 		padding: 8px 16px;
 		text-decoration: none;
 		font-size: 17px;
 		height: 39px;
 		width: 100px;
 		text-decoration:none;
 		text-shadow:1px 1px 3px rgba(0,0,0,0.3);


 	}

 	.topnav a:hover {
 		color:#f1f2f3;
 	}

 	.topnav a.active {
 		background-color: #801BA6;
 		color: white;
		width: 50px;
    }

	.auto-width{
      width: -webkit-fill-available;
      @media screen and (max-width: 700px) {
        width: max-content;
      }
    }
 	</style>

 </head>
 <body id="index" class="auto-width">


 	<header>
 		<% include ../partials/header %>
 	</header>
<center style="margin-top: 32px; padding-bottom: 10px">
	<div style="display: flex; flex-direction: row; width: 700px">
	<%if(result[0]!=null && prevpage!=0 ){%>
  		<a href="/index/page/<%=prevpage%>" class="btn btn-primary previous round" type="submit"><</a>
  	<%}%>
 	<div class="topnav">

		<a class="Bbutton" style="margin-left: 10px; margin-top: 7px;" href="/index">All</a>

        <a class="Bbutton" style="margin-left:20px; margin-top: 7px;" href="/index/catagory/lost/1">Lost</a>

        <a class="Bbutton" style="margin-left:20px; margin-top: 7px;" href="/index/catagory/found/1">Found</a>
    </div>
	<%if(result[0]!=null && nextpage!=0 ){%>
		<a href="/index/page/<%=nextpage%>" class="btn btn-primary previous round" type="submit">></a>			
	<%}%>
	</div>
</center>

 	
     
   <!-- <img src="https://i.imgur.com/N6Z3Rh0.jpg" alt="bg" style="width: 100%; height: 1005px; margin-top:5px; ">-->
    
 	 	

 	<center>

 		<div class="container-fluid" style="margin-top: 70px;" >
 			<div align="center">
 				<%if(result[0]==null) {%>
 				<button class="btn btn-primary previous round" onclick="goBack()" style="margin-top:30px; margin-bottom: 50px;"><</button>

 				<script>
 					function goBack() {
 						window.history.back();
 					}
 				</script>
 				<%}%>
 			</div>

 			<div class="container-fluid" style="margin-top: -120px">
 				<div class="row">

 					<div class="col-md-15 mainresult">				
 						<div id="wrap">
 							<div id="columns" class="columns_4">
 								<%if(typeof result!=='undefined'){%>
									<div class="whitebg"">
 								<%for(var i=0;i<result?.length;i++){%>

                                    <figure style="margin: 16px 8px">
 										<img src = "<%=result[i].image%>"
 										<span>
                                        <h3><%=result[i].lost_name%></h3>
 										<p>Age: <%=result[i].age%></p>
                                        <%if(result[i].reward>0){%>
                                        <h4 style="color:#83AE80">Reward: <%=result[i].reward%>/-BDT</h4>
                                        <%}%>
                                        <%if(result[i].reward==0){%>
                                        <h4><br></h4>
                                        <%}%>

 										<span class="price">Last Located:</span>
                                        <p style="overflow: hidden;"><%=result[i].last_located%></p>
                                        </span>
 										<a href="/index/productdetails/<%=result[i].id%>" class="contentbutton" type="submit">Contact</a> 
 									</figure>
                                
 								</a>	


 								%>
 								<%}%>
 								<%}%>
									</div>



 								<% if(typeof errorMessage !== 'undefined'){ %>
                                <br>
                                <div >
                                <br>
                                    <h1 class="text-center text-danger"><span class="glyphicon glyphicon-search text-center"></span><br><%= errorMessage.message %></h1>
                                </div>
                                <% } %>

 							</div>
 						</div>

 					</div>

 				</div>
			</div>
			</div>
		</center>
		<% include ../partials/footer %>
		</body>	
 		</html>



