 <!DOCTYPE html>
 <html>
 <head>
 	<title>System for Lost and Found People</title>
 	<% include ../partials/head %>

 	<style>
 	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 	}

 </style>

</head>
<body>

	
	<header>
		<% include ../partials/header %>
	</header>


	<img src="images/bg.jpg" alt="bg" style="width: 100%; ">
	<img src="images/bg.jpg" alt="bg" style="width: 100%; ">
	

	<center>
		<div class="container-fluid" style="margin-top: -2100px">
			<div class="row">
				
				<div class="col-md-15 mainresult">				
					<div id="wrap">
						<div id="columns" class="columns_4">
							<%if(typeof result!=='undefined'){%>
							<%for(var i=0;i<result.length;i++){%>
							
							<a href="/index/productdetails/<%=result[i].id%>">
								<figure>
									<img src = "images/lost.jpg">
									<figcaption><%=result[i].lost_name%></figcaption>
									<p>Age: <%=result[i].age%></p>
									<span class="price">Last Located: <%=result[i].last_located%></span>
									<a href="/index/productdetails/<%=result[i].id%>" class="button" type="submit">Contact</a> 
								</figure>
							</a>	
							

							%>
							<%}%>
							<%}%>



							<% if(typeof errorMessage !== 'undefined'){ %>
							<div class="panel panel-warning">
								<h1 class="text-center text-danger"><span class="glyphicon glyphicon-search text-center"></span><br><%= errorMessage.message %></h1>
							</div>
							<% } %>
							
						</div>
					</div>

				</div>
				<div class="searchresult col-md-9">
					
				</div>
			</div>
		</div>


		
		<hr>
		<footer class="bg-dark text-white">
			<% include ../partials/footer %>
		</footer>
	</body>	
	</html>