 <!DOCTYPE html>
 <html>
 <head>
    <title>Lost|Nikhoj.com</title>
    <% include ../partials/head %>

    <style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
    position: absolute; 
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.whitebg{
         
      background: #fff;  
      display:block;
      transition:all 1s linear;
      z-index:-1;
      width:1901px;
      height:505px
    }


    /*TOP NAV*/
    .topnav {
        overflow: hidden;
        background-color: #333;
        width: 390px;
        height: 55px;
        margin: auto;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 17px;
        height: 39px;
        width: 100px;
        text-decoration:none;
        text-shadow:1px 1px 3px rgba(0,0,0,0.3);


    }

    .topnav a:hover {
        color:#f1f2f3;
    }

    .topnav a.active {
        background-color: #801BA6;
        color: white;
        

        
    </style>

 </head>
 <body id="index">


    <header>
        <% include ../partials/header %>
    </header>

    <div class="topnav" style="margin-top: 100px;">
        <a class="Bbutton" style="margin-left:10px; margin-top: 7px;" href="/index">All</a>

        <a class="Bbutton" style="margin-left:20px; margin-top: 7px;" href="/index/catagory/lost/1">Lost</a>

        <a class="Bbutton" style="margin-left:20px; margin-top: 7px;" href="/index/catagory/found/1">Found</a>

    </div>


<!--    <img src="https://i.imgur.com/N6Z3Rh0.jpg" alt="bg" style="width: 100%; height: 1005px; margin-top:5px; ">-->
    
        

    <center>



        <div class="container-fluid" style="margin-top: 55px; height: 1000px" >
            <div align="center">
                <form>
                    

                    <%if(result[0]!=null) {%>
                        <%if(prevpage!=0){%>
                    <a href="/index/catagory/lost/<%=prevpage%>" class="btn btn-primary previous round" type="submit" style="margin-left:-605px;margin-top:-40px"><</a>
                    <%}%>
                    <br>
                    <!-- <td><a href="/index/nextpage/<%=result[result?.length-1].id%>" class="btn btn-primary previous round" type="submit">></a> </td> -->
                    <a href="/index/catagory/lost/<%=nextpage%>" class="btn btn-primary previous round" type="submit" style="margin-left:570px; margin-top: -60px">></a>
                    
                    <%}%>


                </form>
                <%if(result[0]==null) {%>
                <button class="btn btn-primary previous round" onclick="goBack()" style="margin-top:80px"><</button>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <%}%>
            </div>

            <div class="container-fluid" style="margin-top: -120px">
                <div class="row">

                    <div class="col-md-15 mainresult">              
                        <div id="wrap">
                            <div id="columns" class="columns_4">
                                <%if(typeof result!=='undefined'){%>
                                <%for(var i=0;i<result?.length;i++){%>
                                    <%if(i==0||i%4==0){%>
                                        <div class="whitebg" style="margin-left:-400px;position:absolute;"></div>
                                    <%}%>

                                    <figure>
                                        <img src = "<%=result[i].image%>">
                                        <span>
                                        <h3><%=result[i].lost_name%></h3>
                                        <p>Age: <%=result[i].age%></p>
                                        <%if(result[i].reward>0){%>
                                        <h4 style="color:#83AE80">Reward: <%=result[i].reward%>/-BDT</h4>
                                        <%}%>
                                        <%if(result[i].reward==0){%>
                                        <h4><br></h4>
                                        <%}%>
                                        <span class="price">Last Located:</span>
                                        <p><%=result[i].last_located%></p>
                                        </span>
                                        <a href="/index/productdetails/<%=result[i].id%>" class="contentbutton" type="submit">Contact</a> 
                                    </figure>
                                
                                </a>    


                                %>
                                <%}%>
                                <%}%>



                                <% if(typeof errorMessage !== 'undefined'){ %>
                                <br><div class="whitebg" style="margin-left:-400px;position:absolute;"></div>
                                <div >
                                <br>
                                    <h1 class="text-center text-danger"><span class="glyphicon glyphicon-search text-center"></span><br><%= errorMessage.message %></h1>
                                </div>
                                <% } %>

                            </div>
                        </div>

                    </div>

                </div>
            </div>


            
        </body> 
        </html>



